/* === products page style starts === */
/* === products header style starts === */
.products-header {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    align-items: center;
    -webkit-box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.59);
    -moz-box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.59);
    box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.59);
}

.page-items-counter {padding: 7px 0;}

.page-items-switch {position: relative;}

.dropbtn-grid {
  border: 1px solid #ededed;
  box-shadow: none;
  color: #555;
  border: 1px solid #aca8a8;
  cursor: pointer;
  font-size: 14px;
  height: 40px;
  min-width: 100px;
  width: inherit;
  position: relative;
  text-align: justify;
  padding: 5px 10px;
  background-color: white;
}

.fa-sort-down {float: right;}

.dropdown-content-grid {
  display: none;
  position: absolute;
  width: 100%;
  box-shadow: none;
  color: #555;
  background-color: white;
  cursor: pointer;
  font-size: 14px;
  text-transform: capitalize;
  top: 0;
  border: 1px solid #aca8a8;
  z-index: 99;
}

.dropdown-content-grid a {
  color: #555;
  padding: 9px 10px;
  text-decoration: none;
  display: block;
  background-color: white;
}

.show-grid {display: block;}
.dropbtn-grid:hover {background-color: #aca9a9;}
.page-items-switch a:hover {background-color: #ddd;}

.page-style-switch {
    font-size: 20px;
    padding: 5px 0;
}

.page-style-switch i {
    cursor: pointer;
    margin-left: 5px;
    transition: 0.3s;
}

.page-style-switch i:hover {color: #FFB11F;}
/* === products header style ends === */

/* === products list style starts === */
.product-item .product-img {overflow: hidden;}
.product-item .product-img img {transition: 0.3s;}
.product-item a {transition: 0.3s;}

/* === products grid === */
.product-th {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  justify-content: space-between;
}

.product-th .product-item {
  padding-bottom: 20px;
  width: 100%;
  margin: 20px 0;
  transition: 0s;
  -webkit-box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.59);
  -moz-box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.59);
  box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.59);
}

.product-th .product-item .product-img {
  width: 100%;
  padding: 0;
}

.product-th .product-item .product-img img {
  width: 100%;
  padding: 0;
}

.product-th .product-item a {
  display: inherit;
  text-decoration: none;
  color: #444444;
  font-size: 14px;
  text-align: center;
  font-weight: 600;
}

.product-th .product-item .product-price {
  color: #686868;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

.product-th .product-item .rating {display: none;}
.product-th .product-item .product-about .description {display: none;}

.product-list-action {
  padding: 15px 0 5px 0px;
  margin: auto;
  width: 50%;
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.product-list-action-right a, .product-list-action-left a {
  border: 1px solid #dcdcdc;
  color: #313131;
  display: inline-block;
  font-size: 16px;
  height: 39px;
  line-height: 40px;
  text-align: center;
  width: 50px;
}
/* === products grid === */

/* === products rows === */
.product-list {
  display: grid;
  grid-template-columns: 100%;
  justify-content: space-between;
}

.product-list .product-item {
  box-shadow: 0 0 3px rgb(8 136 136 / 10%);
  border: 1px solid #00000012;
  width: 100%;
  display: flex;
  margin: 20px 0;
  align-items: center;
}

.product-list .product-item .product-img {
  width: 25%;
  padding: 0;
  padding-top: 30px;
}

.product-list .product-item .product-img img {
  width: 100%;
  padding: 0;
}

.product-list .product-item .product-about {
  width: 80%;
  margin: 20px;
}

.product-list .product-item .product-about .top {
  display: flex;
  justify-content: space-between;
}
.product-list .product-item .product-about .top a{text-align: left;}

.product-list .product-item a {
  display: inherit;
  text-decoration: none;
  color: #585858;
  font-size: 19px;
  text-align: center;
}

.product-list .product-item .product-price {
  color: #686868;
  font-size: 16px;
  font-weight: 500;
  margin: 0 12px 0 0;
}

.product-list .product-item .product-about .top .rating {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  color: #242424;
}

.product-list .product-item .product-about .description {
  height: auto;
  font-size: 14px;
  overflow: hidden;
  text-align: justify;
  line-height: 1.5;
  font-family: Nunito;
}
/* === products rows === */

.product-item a:hover {color: #FFB11F;}
.product-item:hover .product-img img {transform: scale(1.04);}
/* === products list style ends === */
/* === products page style ends === */

/* === product single page style starts === */
/* === product single overview style starts === */
#product-overview{margin: 50px auto;}

.product-overview-inner {
  display: flex;
  justify-content: space-between;
  width: 95%;
  max-width: 1200px;
  margin: auto;
}

.product-slider {width: 40%;}

.slideshow-container {
  position: relative;
  margin: auto;
}

.slideshow-container img {width: 100%;}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #000000;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.8);
}
.sent{
    background-color: yellow;
    border-radius: 0 3px 3px 0;
    background: solid 1px gray;

}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #999999;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: #111111;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}
@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

.product-info {width: 50%;}
.product-rating {margin: 20px 0;}
.product-description{margin: 20px 0 10px;}
.qant{margin: 10px 0;}
form input {
  padding: 10px 30px;
  font-size: 16px;
  border: none;
  border-radius: 3px;
  color: #FFF;
  background-color: #FFB11F;
  cursor: pointer;
  transition: 0.3s;
}

form input:hover {
  background-color: #0F1B28;
}
/* === product single overview style ends === */
/* === product single about style starts === */
#product-single-about {margin: 50px 0;}

.prod-tabs {
	width: 100%;
	max-width: 1200px;
	margin: auto;
}

.tabs {
  width: 100%;
  max-width: 1200px;
  background-color:white;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  border-radius: 20px;
  margin: auto;
}

.tab{
  text-align: center;
  cursor: pointer;
  font-size: 19px;
  width: 20%;
  background: #ffb11f;
  display: inline-block;
  color: #ffffff;
  margin: 0;
  box-sizing: border-box;
  padding: 10px 0;
}

.panels{
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
  padding: 10px;
  background-color: #ebebeb;
}

.panel{
  display:none;
  animation: fadein .8s;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.panel-title{
  font-size:1.5em;
  font-weight:bold
}

.radio{display:none;}

#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel,
#three:checked ~ .panels #three-panel,
#four:checked ~ .panels #four-panel{
  display:block
}

#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab,
#three:checked ~ .tabs #three-tab,
#four:checked ~ .tabs #four-tab{
  background: #ebebeb;
  color: #000;
  font-size: 18px;
  font-weight: 500;
}


#one-panel {padding: 20px;}
.review-message{font-size: 14px;}

.prod-review-item {
	background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 10px;
}

.prod-reviewer-img {width: 85px;}

.prod-reviewer-img img {
	width: 100%;
	background-color: #ebebeb;
  border-radius: 43px;
}

.review-collumn {width: 85%;}

.review-data {
	margin-bottom: 10px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}

.review-data a{
	text-decoration: none;
  color: black;
  font-weight: 900;
  transition: 0.2s;
}

.review-data a:hover {color: #ffb11f;}

.form-top {
  display: flex;
  justify-content: space-between;
}

#add-review {
	margin-top: 70px;
	background-color: #ebebeb;
	width: 100%;
	max-width: 1200px;
  font-size: 15px;
	padding: 30px;
	margin: 50px auto;
}

#numeprenume_review {
	height: 45px;
  border: 1px solid #ddd;
  border-radius: 0;
  background-color: white;
  width: 35%;
  padding: 10px;
  margin-right: 10px;
}

#mail_review {
	height: 45px;
  border: 1px solid #ddd;
  border-radius: 0;
  background-color: white;
  width: 35%;
}

.rating {
  margin: 0 auto 1em;
	font-size: 22px;
	overflow:hidden;
}
.rating input {
  float: right;
  opacity: 0;
  position: absolute;
}

.rating a, .rating label {
float:right;
color: #aaa;
text-decoration: none;
-webkit-transition: color .4s;
-moz-transition: color .4s;
-o-transition: color .4s;
transition: color .4s;
}

.rating label:hover ~ label,
.rating input:focus ~ label,
.rating label:hover,
.rating a:hover,
.rating a:hover ~ a,
.rating a:focus,
.rating a:focus ~ a		{
	color: orange;
	cursor: pointer;
}
.rating2 {direction: rtl;}
.rating2 a {float:none}
#review-star-rating {display: none;}

textarea {
	width: 100%;
  padding: 15px;
  margin-bottom: 25px;
  border: 1px solid #f0f0f0;
  resize: vertical;
}
/* === product single about style ends === */
/* === product single page style ends === */

@media screen and (max-width: 960px){
  .product-list .description {display: none;}
}

@media screen and (max-width: 760px){
  .product-th {grid-template-columns: 48% 48%; max-width: 500px; margin: auto;}
  .product-overview-inner {display: block;}
  .product-info {width: 100%;}
  .product-slider {width: 100%; max-width: 400px; margin: auto;}
}

@media screen and (max-width: 480px){
  .product-list .product-item .product-about .top {display: block;}
  .product-list .product-item .product-img {width: 40%;}
  .product-list .product-item .product-about {width: 60%;}
  .prod-reviewer-img {width: 50px;}
  .review-data {display: grid; grid-template-columns: auto auto;}
  .product-info, .panel , #add-review {font-size: 14px;}
  .product-title, .product-price, #add-review h2 {font-size: 18px;}
  .form-top {display: grid; grid-template-columns: auto auto;}
  .rating2 {font-size: 14px; float: right; margin: 0 auto 0 10px;}
  #numeprenume_review, #mail_review {width: fit-content;}
  #mail_review {padding: 10px;}
}

@media screen and (max-width: 320px){
  .products-header {display: block;}
  .product-th {grid-template-columns: 100%; max-width: 250px;}
  .page-style-switch {display: none;}
  .tab {width: 50%;}
  .review-data {grid-template-columns: auto;}
  .form-top {grid-template-columns: auto;}
  .product-info, .panel , #add-review, .review-message {font-size: 12px;}
  .product-title, .product-price, #add-review h2 {font-size: 14px;}
  #one-panel, #add-review {padding: 10px;}
}
